APP_NAME=Welfare Bot API
APP_ENV=local
DEBUG=true
API_V1_PREFIX=/api/v1

POSTGRES_HOST=example_host
POSTGRES_PORT=example_port
POSTGRES_DB=welfare_bot
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password

DATABASE_URL=example-database-url

OPENAI_API_KEY=example-openai-api-key
OPENAI_MODEL=model-name